azure-ai-ml>=0.1.0b6
azure-identity
datasets
# TODO: remove this once invalid graph issue resolve
onnxruntime==1.13.1
transformers
# TODO: remove limited version once INC smoothquant issue resolve
git+https://github.com/intel/neural-compressor.git@53551c2
